// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;
$TRANSPARENT: transparent;

// BLOG
$BLACK_BACKGROUND: #0a0a0a;
$WHITE_BACKGROUND: #f3f4f8;

$MAIN_LAYOUT_BACKGROUND: #f5f5f5;

$SILVER_BORDER: #dbdbdc;

$MODAL_HEADER_FONT: #fffeff;
$MODAL_HEADER_BACKGROUND: #333645;
$MODAL_PLACEHOLDER: #b3b3b3;

$EMAIL_BACKGROUND: #578df6;
$EMAIL_CONTAINER: #1b2259;
$EMAIL_TEXT: #9eaed0;

// RE-DESIGN
$MAIN_WHITE: rgba(252, 253, 252);
$MAIN_BLACK: #1c1c21;
$MAIN_GRAY: #313135;
$MAIN_LIGHT_GRAY: #79797c;
$MAIN_BORDER: #dedede;
