@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.pageContainer {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  color: color.$WHITE;
  background: color.$BLACK_BACKGROUND;
}

.stepperContainer {
  width: 100%;
}

.ownerAndEducation {
  display: flex;
  flex-direction: column;
  animation: smoothLeftAppear 2s;

  @include responsive.after(MD) {
    flex-direction: row;
    margin-top: 20px;
  }
}

.educationIcon {
  font-size: 50px;
  color: color.$GRAY6;
}

.educationIconBox {
  margin-top: 30px;
  @include responsive.after(MD) {
    margin-top: 105px;
  }
}

.techStacksBox {
  margin: 50px 0;
  animation: smoothRightAppear 2s;

  .codeIcon,
  .codeOffIcon {
    font-size: 50px;
    color: color.$GRAY6;
  }
}

@keyframes smoothLeftAppear {
  from {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(5%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes smoothRightAppear {
  from {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-5%);
  }

  to {
    transform: translateX(0%);
  }
}
