@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.pageContainer {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  height: 100%;
  color: color.$WHITE;
  background: color.$BLACK_BACKGROUND;
}

.stepperContainer {
  width: 100%;
}

.mainTypography {
  display: flex;

  h1 {
    margin: 0 auto;
    font-size: 50px;
  }
}

.imageDesc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #1b1b1b;
  border-radius: 10px;

  @include responsive.after(MD) {
    flex-direction: row;
    width: 42%;
  }
}

.introDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

  @include responsive.after(MD) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.educationIcon {
  font-size: 50px;
  color: color.$GRAY6;
}

.schoolBox {
  width: 350px;
  height: auto;
  background: #1b1b1b;
  border-radius: 10px;
}
