@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

@font-face {
  font-family: sub-font;
  src: url('../../public/fonts/Lora-Regular.ttf');
  font-display: swap;
}

.pageContainer {
  width: 100%;
  color: color.$MAIN_BLACK;
  background: color.$MAIN_WHITE;
}

.pageDescriptionSec {
  @include flexbox.flexbox(start, center);
  position: sticky;
  top: 65px;
  z-index: 1;
  flex-direction: column;
  height: 100vh;

  h1 {
    margin-top: 50px;
    font-family: sub-font, sans-serif;
    font-size: 15px;
    color: color.$MAIN_LIGHT_GRAY;
    word-spacing: 1px;

    @include responsive.after(MD) {
      font-size: 18px;
      word-spacing: 3px;
    }
  }

  p {
    margin: 50px 0;
    font-family: sub-font, sans-serif;
    font-size: 50px;

    @include responsive.after(MD) {
      margin: 70px 0;
      font-size: 90px;
    }
  }
}

.overlayParent {
  @include flexbox.flexbox(start, center);
  position: sticky;
  z-index: 2;
  flex-direction: column;
  height: 2230px;
  padding-top: 65px;
  overflow-y: scroll;
  background: color.$MAIN_WHITE;

  @include responsive.after(MD) {
    height: 2150px;
  }

  .stepperContainer {
    position: sticky;
    top: 65px;
    z-index: 4;
    width: 100%;
    background: color.$MAIN_WHITE;
  }

  .ownerAndEducation {
    display: flex;
    flex-direction: column;

    @include responsive.after(MD) {
      flex-direction: row;
      margin-top: 20px;
    }
  }

  .descriptionContainer {
    z-index: 3;
    width: 100%;
  }

  .cardContainer {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    margin-top: 50px;

    @include responsive.after(MD) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
