@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.ownerDescContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
  background: #1b1b1b;
  border-radius: 10px;

  @include responsive.after(MD) {
    flex-direction: row;
    width: 600px;
    margin-right: 10px;
  }
}

.introDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

  @include responsive.after(MD) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.divider {
  background: color.$WHITE;
}

.divider:last-child {
  display: none;
}
