@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.blogDescContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  color: color.$WHITE;
  background: color.$MAIN_WHITE;

  h1 {
    font-weight: 500;
    letter-spacing: 2px;
  }

  p {
    margin-top: 20px;
    line-height: 30px;
    color: color.$GRAY6;
    letter-spacing: 1.5px;
  }
}

.blogReasonContainer {
  max-width: 450px;
}

.recommendedDevice {
  margin: 50px 0;
}

.iphoneImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include responsive.after(MD) {
    flex-direction: row;
  }
}

.iphoneImageTag {
  z-index: 11;
}

.mobileHeader {
  position: absolute;
  top: 15px;
  left: 65px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 170px;
  font-size: 10px;
  font-weight: bold;
  background: color.$BLACK_BACKGROUND;
}

.mobileImage {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 10;
  width: 200px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 350px;
  border-radius: 10px;
}

.desktopImage {
  position: absolute;
  top: 412px;
  left: 10px;
  width: 330px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 330px 200px;

  @include responsive.after(MD) {
    top: 5px;
    left: 304px;
    width: 495px;
    height: 290px;
    background-size: contain;
  }
}

.desktopImageTag {
  width: 350px;
  height: 300px;

  @include responsive.after(MD) {
    width: 500px;
    height: 400px;
  }
}

.typewriterSection {
  max-width: 450px;
  margin-top: 50px;
}

.typewriter {
  margin-top: 20px;
  font-size: 50px;
}

.blogProblem {
  max-width: 450px;
  margin-top: 50px;
}
