@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

@font-face {
  font-family: sub-font;
  src: url('../../public/fonts/Lora-Regular.ttf');
  font-display: swap;
}

.blogDescContainer {
  flex-direction: column;
  width: 100%;
  background: color.$MAIN_WHITE;
  @include flexbox.flexbox(center, center);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 30px;

  @include responsive.after(ML) {
    width: 90%;
    height: 400px;
    margin-top: 50px;
  }

  @include responsive.after(MD) {
    width: 70%;
    height: 500px;
    margin-top: 50px;
  }
}

.typewriter {
  div {
    margin: 50px 0;
    font-family: sub-font, sans-serif;
    font-size: 24px;
    background: color.$MAIN_WHITE;

    @include responsive.after(MD) {
      margin: 100px 0;
      font-size: 70px;
    }
  }
}

.descriptionContainer {
  width: 90%;
  height: 500px;
  background: rgb(20, 104, 104);

  @include responsive.after(MD) {
    width: 70%;
  }
}
