@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.greetingContainer {
  display: flex;
  flex-direction: column;
  color: color.$WHITE;
  letter-spacing: 1px;

  @include responsive.after(MD) {
    width: 70%;
    height: 80%;
  }

  h1 {
    font-size: 40px;
    font-weight: 800;
  }

  p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
    color: color.$EMAIL_TEXT;
  }

  svg {
    margin-right: 30px;
    color: color.$BLUE;
  }
}

.emailIconAndDesc {
  display: flex;
  flex-direction: column;
  height: 40%;

  p {
    display: flex;
    font-size: 13px;
    color: color.$WHITE;
    text-align: center;
  }
}

.githubButtonContainer {
  display: flex;
  flex-direction: column;
  height: 20%;
  margin-top: 40px;

  @include responsive.after(MD) {
    justify-content: flex-end;
  }

  .githubButton {
    width: 35px;
  }

  .emailFormIcon {
    color: color.$WHITE;
  }
}
