@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.greetingContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
  color: color.$WHITE;
  letter-spacing: 1px;

  h1 {
    font-size: 30px;
    font-weight: 900;
  }

  p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
    color: color.$EMAIL_TEXT;
  }

  svg {
    margin-right: 30px;
    color: color.$BLUE;
  }
}

.emailIconAndDesc {
  display: flex;
  flex-direction: column;
  height: 40%;

  p {
    display: flex;
    font-size: 13px;
    color: color.$WHITE;
    text-align: center;
  }
}

.githubButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 20%;

  .githubButton {
    width: 35px;
  }

  .emailFormIcon {
    color: color.$WHITE;
  }
}
