@use 'styles/_Global/color.scss';

.stepper {
  circle {
    margin: 10px 0 !important;
    color: color.$MAIN_BLACK !important;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    color: color.$MAIN_BLACK !important;
  }
}
