@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.emailContainer {
  display: flex;
  height: calc(100vh - 65px);
  background: color.$EMAIL_BACKGROUND;
}

.emailContentContainer {
  display: flex;
  margin: auto;
  background: color.$EMAIL_CONTAINER;
  border-radius: 10px;

  @include responsive.after(MD) {
    width: 900px;
    height: 550px;
  }
}

.emailDesc {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.emailFormContainer {
  @include flexbox.flexbox(center, center);
  width: 50%;
  height: 100%;
}
