@use 'styles/_Global/color.scss';
@use 'styles/_Global/flexbox.scss';
@use 'styles/_Global/responsive.scss';

.emailContainer {
  height: calc(100vh - 70px);
}

.emailModalContainer {
  width: 200px;
  height: 200px;
  border-radius: 11px;

  @include responsive.after(MD) {
    width: 600px;
    height: 400px;
  }
}

.modalHeader {
  @include flexbox.flexbox(start, center);
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  color: color.$MODAL_HEADER_FONT;
  background: color.$MODAL_HEADER_BACKGROUND;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .sendIcon {
    margin: 0 10px;
    font-size: 10px;
  }
}
