@use 'styles/_Global/color.scss';
@use 'styles/_Global/responsive.scss';

.schoolBox {
  width: 350px;
  height: auto;
  background: #1b1b1b;
  border-radius: 10px;

  @include responsive.after(MD) {
    margin-left: 10px;
  }
}
