@use '/_Global/_color.scss';

html,
body {
  padding: 0;
  margin: 0;
}

body[data-theme='light'] {
  --color-bg: #f3f4f8;
  --color-font: #2c2c2e;
}

body[data-theme='dark'] {
  --color-bg: #2c2c2e;
  --color-font: #f3f4f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
