@use '/_Global/_color.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, DoHyeon, sans-serif;
  letter-spacing: 0.5px;
}

body[data-theme='light'] {
  --color-bg: #f3f4f8;
  --color-font: #2c2c2e;
}

body[data-theme='dark'] {
  --color-bg: #2c2c2e;
  --color-font: #f3f4f8;
}

@font-face {
  font-family: DoHyeon;
  src: url('/fonts/DoHyeon-Regular.ttf') format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}
